{%extends 'base.html'%}
{% block contents %}
<div class="row" >
    <div class="large-12 columns">
      <h1>مدیریت گروه {{group.admin.user.name}}</h1>
      <h2>گروه {{group.name}}</h2>
      <div id="groupSide">
      	<div class="groupSide">
      		هزینه ها
      	</div><br />
      	<div class="groupSide">
      		اعضا
      	</div><br>
      </div>
      <div id="groupMain">
      <div id="trans">
      	<table>
      		<tr>
					<td>تاریخ</td>
					<td>مقدار</td>
					<td>عضو</td>
					<td>نوع</td>
      		</tr>
      		{% for i in trans%}
				<tr>
					<td>{{i.date}}</td>
					<td>{{i.amount}}</td>
					<td>{{i.user.user.name}}</td>
					<td>{{i.ttype}}</td>
				</tr>
      		{% endfor %}
      	</table>
      </div>
      <div id="members"></div>
      </div>
    </div>
</div>
{% endblock %}
